<a type="button" class="btn btn-primary" href="@routes.ElectionScheme.setup()">Start election</a>
<a type="button" class="btn btn-danger" href="@routes.ElectionScheme.tallyResults()">End election</a>

<div>
    <h1>This is some stats regarding the election, such as: </h1>
    <ul>
        <li>Number of votes so far</li>
        <li>Time election has been open</li>
    </ul>
    <p>Could put this in a dashboard style page.  Find template online</p>
    <p>Will grey out button that is not selectable</p>
    <p>Start election will take admin to another page where they are able to add candidates and see their keypair etc</p>
</div>
