@(page: String, isLoggedIn: Boolean, user: User)

@main(page, isLoggedIn, user) {

    @if(flash.containsKey("error")) {
        <div class="alert alert-danger"
            <strong>Error!</strong> @flash.get("error")
        </div>
    }

    @if(flash.containsKey("logout")) {
        <div class="alert alert-warning"
            <strong></strong> @flash.get("logout")
        </div>
    }

   <div class="container">
     <div class="row">
       <div class="col-sm-10 col-sm-offset-1">
            <h2 class="background-text">Welcome to the e-voting system.</h2>
            <p class="background-text">This is an example home screen</p>
       </div>
     </div>
   </div>
    <br></br>
    <img src="@routes.Assets.at("images/FlowDiagram.png")" class="img-responsive">
    <br></br>
}
