@(page: String, isLoggedIn: Boolean, user: User)

    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/register.css")">
    </head>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    @main(page, isLoggedIn, user) {
        <p>Your vote has been counted</p>

        <button onclick="goBack()">Go Back</button>
        <br></br>
        <img src="@routes.Assets.at("images/FlowDiagram.png")" class="img-responsive">
        <br></br>
        <img src="@routes.Assets.at("images/VoteVerify.png")" class="img-responsive">
    }